@model IEnumerable<PROG3050_CVGSClub.Models.Games>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Games</h2>

<span style="float:right;">
    <a asp-controller="GameLibraries" asp-action="Index">Game Library</a>
</span>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailablePlatforms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailablePlatforms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayers)
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.GameId">Add to Cart</a> |
                    <a asp-controller="WishLists" asp-action="AddWishlist" asp-route-id="@item.GameId">Add to Wishlist</a> 
                </td>
            </tr>
        }
    </tbody>
</table>