@model IEnumerable<PROG3050_CVGSClub.Models.Events>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.DisplayName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p style="text-align:center">
    <a asp-action="Create"><input style=" text-align:center" value="Add an Event!" class="btn btn-primary"></a>
</p>
